.calculadora{
    position: fixed;
    top:50%;
    left:50%;
    background-color: aqua;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-size: 2rem;
    background-image: linear-gradient(rgb(243, 128, 247), rgb(117, 29, 120));
    border: 1px solid #000000;
    border-radius:4px;
    padding:20px;
}/*Fechamento calculadora*/

.tela{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    font-size:4rem;
    width: 93%;
    height: 80px;
    margin-bottom: 20px;
    border: 3px solid rgb(236, 55, 191);
    background-color: rgb(210, 205, 211);
    color: #3f1756;
    border-radius: 7px;
}/*Fechamento tela*/

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento botao*/

.linha{
    display:flex;
    flex-direction:row;
    margin-bottom: 10px;
}/*Fechamento linha*/

.operadores{
    background-color: rgb(239, 145, 244);
    color:rgb(209, 25, 182);
    border: 2px solid;
}/*Fechamento operadores*/

.outros{
    background-color: rgb(239, 145, 244);
    color:rgb(65, 22, 110);
    border: 2px solid rgb(236, 55, 191);

}/*Fechamento outros*/

button
{
    font-size: 2rem;
    width: 80px;
    height: 80px;
    margin-right: 10;
    border: 1px solid rgb(236, 55, 191);
    border-radius: 7px;
    background-color: rgb(239, 204, 239);
    color:rgb(117, 29, 120);
    cursor: pointer;
}

button:last-child
{
    margin-right: 0;
}

button:hover
{
    background-color: rgb(203, 131, 219);
    color:rgb(239, 204, 239);
}

